/* @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* @font-face {
  font-family: 'ardestine';
  src: url('/public/assets/AR-Destine/ar-destine.otf');

  
}

@font-face {
  font-family: 'gadems';
  src: url('/public/assets/gadems-font/GademsPersonalUseOnly-Yz43o.otf');

  font-style: normal;
} */


/* @layer base {
  html {
    font-family: gadems, "ardestine";
  }
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: linear-gradient(190.59deg, #020202 1.41%, #01171C 34.27%, #000000 67.14%, #01171C 100%);
  --background-end-rgb: linear-gradient(190.59deg, #020202 1.41%, #01171C 34.27%, #000000 67.14%, #01171C 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(190.59deg, #020202 1.41%, #01171C 34.27%, #000000 67.14%, #01171C 100%) no-repeat;
  /* background-repeat: no-repeat; */
  min-height: 100vh;
}

* {
  scroll-behavior: smooth;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}